<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primarys"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2021 - 2025</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Bachelor of Engineering</div>
            <h4 class="category">
              New L.J Institute of Engineering and Technology
            </h4>
            <ul>
              <li>
                New L.J Institute is GTU Affiliated and <b>ranks 1th</b> in
                Gujurat
              </li>
              <li>Study B.E in Computer Engineering with <b>9.00 CGPA</b>.</li>
              <li>
                Maintained above <b>8.84 spi</b> in every semester of college
                academic .
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primarys"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2020 - 2021</p>
            <div class="h5">Higher Secondary</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Higher Secondary</div>
            <h4 class="category">Mangalam Vidhyalaya Halvad</h4>
            <ul>
              <li>
                The High School was mainly focus on the bases of science,
                mathematics, and Chemistry
              </li>
              <li>
                There was also a good base on physics, mathematics and
                chemistry.
              </li>
              <li>Completed my high school with<b> 80.16%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primarys"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2018 - 2019</p>
            <div class="h5">Sedcondary School</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Secondary School</div>
            <h4 class="category">Mangalam Vidhyalaya Halvad</h4>
            <ul>
              <li>
                The Secondary aims at Maths , English , Science, Social Science,
                Gujurati and Languages.
              </li>

              <li>Completed my Secondary school with <b>80.66%</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>